#root {
  max-width: max-content;
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.extension-title {
  font-size: 1.5rem;
  color: #CFCFEA;
  cursor: default;
}

/* CLASS FINDER */

.text-input {
  width: 100%;
  height: 2.5rem;
  border: 0.1rem solid #1e1e1e;
  outline: none;
  padding-left: 0.5rem;
}

.text-input:hover,
.text-input:focus {
  border: 0.1rem solid #A89B9D;
  transition: all 0.3s ease-in-out;
}

.content-container {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
}

/* COLOR SELECTOR */

.color-selector {
  padding: 1rem;
}

.color-selector-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-selector>.color-selector-title>p {
  font-size: 0.7rem;
  color: #CFCFEA;
  cursor: default;
}

.color-modificator {
  display: flex;
  flex-direction: row;
}

.color-selector>input[type=color] {
  border-width: 0rem;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.color-selector>input[type=color]:hover,
.color-selector>input[type=color]:focus {
  width: 3.5rem;
  transition: all 0.3s ease-in-out;
}

/* TEST OPTIONS  */

.test-options>.color-modificator>div>button {
  border-radius: 0%;
  border-color: transparent;
  padding: 0.8rem;
  margin: 0.1rem;
}

.test-options>.color-modificator>div>button:hover,
.test-options>.color-modificator>div>button:focus {
  border-color: #a89b9d;
  transition: all 0.3 ease-in-out;
  outline: none;
}

.test-options>.color-modificator>div>button>img {
  width: 1rem;
  height: 1rem;
}

.test-options>.color-modificator>div>p {
  font-size: 0.7rem;
  color: #CFCFEA;
  cursor: default;
}

.test-options {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  justify-content: center;
  flex-direction: column;
}

/* ORIGINAL COLOR */

.originalColor-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.originalColor-container>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.originalColor {
  height: 1rem;
  width: 1rem;
  border: 0.1rem #CFCFEA inset;
  color: #CFCFEA;
  cursor: pointer;
}

.originalColor-container>div>h1 {
  font-size: 0.7rem;
  padding-left: 0.2rem;
  color: #CFCFEA;
  cursor: default;
}

.originalColor-container>p,
.originalColor-container>div {
  padding: 0rem;
}

.originalColor-container>.originalColorTitle {
  font-size: 0.7rem;
  cursor: default;
}

.originalColor-container>.originalColorTitle>hr,
.color-selector>.color-selector-title>hr {
  width: 2rem;
  border: 0.01rem solid #cfcfea1a;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.copy-color-code {
  opacity: 0;
  font-size: 0.7rem;
  position: absolute;
  border: 0.01rem solid #cfcfea;
  width: 8rem;
  height: 2rem;
  align-content: center;
  margin-bottom: 4rem;
  margin-left: 1.2rem;
  background: #1e1e1e;
  cursor: default;
  transition: 0.3s all ease-in-out;
}

.copy-color-code.hover {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.copied-color-code {
  opacity: 0;
  font-size: 0.7rem;
  position: absolute;
  border: 0.01rem solid #cfcfea;
  width: 8rem;
  height: 2rem;
  align-content: center;
  margin-bottom: 4rem;
  margin-left: 1.2rem;
  background: #1e1e1e;
  cursor: default;
  transition: 0.3s all ease-in-out;
}

.copied-color-code.active {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}